/* =============================== Fondo Inicio =============================== */

/* ESCALA CLARITA */
/*.inicio {
  --page-bg:
    radial-gradient(1800px 1200px at 15% 10%, #e5e7eb, transparent 75%),
    radial-gradient(1100px 700px at 85% 25%, #f3f4f6, transparent 80%),
    linear-gradient(135deg, #ffffff, #f9fafb, #f3f4f6);
}*/


/* AZUL FLOJO */
/*.inicio {
  --page-bg:
    radial-gradient(1800px 1200px at 15% 10%, #dbeafe, transparent 75%),
    radial-gradient(1600px 1000px at 85% 25%, #bfdbfe, transparent 70%),
    linear-gradient(135deg, #f1f5f9, #e0f2fe, #dbeafe);
}*/
/* AZUL MAS FUERTE */
.inicio {
  --page-bg:
    radial-gradient(1800px 1200px at 15% 10%, #bfdbfe, transparent 75%),
    radial-gradient(1100px 700px at 85% 25%, #bfdbfe, transparent 80%),
    linear-gradient(135deg, #f1f5f9, #e0f2fe, #bfdbfe);
}

/* AZUL Y MORADO FUERTE*/
/*.inicio {
  --page-bg:
    radial-gradient(1800px 1200px at 15% 10%, #c4b5fd, transparent 75%),
    radial-gradient(1100px 700px at 85% 25%, #ddd6fe, transparent 80%),
    linear-gradient(135deg, #f5f3ff, #e0e7ff, #c4b5fd);
}*/


/* =============================== Fondo Asistente =============================== */
/*.asistente {
  --page-bg:
    radial-gradient(1800px 1200px at 15% 10%, #dbeafe, transparent 75%),
    radial-gradient(1600px 1000px at 85% 25%, #bfdbfe, transparent 70%),
    linear-gradient(135deg, #f1f5f9, #e0f2fe, #dbeafe);
}*/

.asistente {
  --page-bg:
    radial-gradient(1800px 1200px at 15% 10%, #bfdbfe, transparent 75%),
    radial-gradient(1100px 700px at 85% 25%, #bfdbfe, transparent 80%),
    linear-gradient(135deg, #f1f5f9, #e0f2fe, #bfdbfe);
}

/* =============================== Navbar Inicio =============================== */

/*.inicio .nav {
  background: rgba(255,255,255,0.92);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}
*/