.shine-txt {
        /* Si Tailwind ha puesto otro color, forzamos este fondo con !important */
        background: linear-gradient(
            to right,
            var(--clr-accent) 0%,
            white 10%,
            var(--clr-accent) 20%
        ) ;
        background-size: 200% ;
        background-position: 0 ;
        background-clip: text;

        -webkit-background-clip: text ;
        -webkit-text-fill-color: transparent ;

        animation: shine 5s infinite linear ;
        animation-fill-mode: forwards ;

        /* Mantén o ajusta si usas Tailwind para posicionar */
        /* transform: translate(-50%, -50%);  <-- si usas Tailwind, quítalo de aquí */
        text-decoration: none ;
        white-space: nowrap ;
    }