{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="login-page">
    <div class="login-container">
        <h3>Ingrese usuario y contraseña</h3>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div>
                <label>Usuario</label>
                {{ form.username }}
            </div>
            <div>
                <label>Contraseña</label>
                {{ form.password }}
            </div>
            <div>
                <input type="submit" value="Iniciar sesión">
            </div>
        </form>
        <div class="error-message">
            {% if form.errors %}
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <p class="mt-3">¿No tienes cuenta? <a href="{% url 'registro' %}">Registrate</a></p>
    </div>

</body>
</html>
